*   {
    text-align: center;
}
body{
    background-color: LightGrey;
    background-image: url(./images/herringbone.png);
    color: DarkGreen;
    font-family: 'PT Serif', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
}

ul  {
    display: inline;
}

header {
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-top: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}

h1 {
    color: darkgreen;
    text-align: center;
}

h2, p {
    text-align: center;
}

footer p {
    text-align: center;
}

.banner {
    height: 400px;
    background-image: url(./images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}