body{
    background-color: LightGrey;
    background-image: url(./images/herringbone.png);
    color: DarkGreen;
    font-family: 'PT Serif', serif, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
}

header {
    border-bottom: 5px solid blue;
}

h1 {
    color: blue;
    text-align: center;
}

h2, p {
    text-align: center;
}

footer p {
    text-align: center;
}

.banner {
    height: 300px;
    background-image: url(./images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
}