*   {
    text-align: center;
}
body {
    background-color: lightgrey;
    background-image: url(../images/white-waves.png);
    font-size: 20px;
    font-style: italic;
}

header {
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-top: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}

ul  {
    display: inline;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    line-height: 2;
}

.banner {
    height: 400px;
    background-image: url(../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}