*   {
    text-align: center;
}
body {
    background-color: lightgreen;
    background-image: url(../images/spikes.png);
    font-size: 20px;
}

header {
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-top: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    display: inline;
}
img {
    height: 200px;
    width: 200px;
    
}

footer p {
    text-align: center;
}

p {
    line-height: 2;
}

.banner {
    height: 400px;
    background-image: url(../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
    border-right: 5px solid rgb(5, 5, 8); 
    border-left: 5px solid rgb(5, 5, 8);
    border-bottom: 5px solid rgb(5, 5, 8);
}