*   {
    text-align: center;
}
body {
    background-color: lightgrey;
    background-image: url(../images/double-bubble\ \(1\).png);
    font-size: 20px;
    font-style: italic;
}

header {
    border-right: 5px solid darkgreen; 
    border-left: 5px solid darkgreen;
    border-top: 5px solid darkgreen;
    border-bottom: 5px solid darkgreen;
}

h1 {
}

h2 {

}

ul  {
    display: inline;
    
}

p {
    line-height: 2;
    font-weight: 900;
}

section p {
    font-weight: 900px;
}

footer p {
    text-align: center;
}

img {
    height: 600px;
    width: 400px;
}

.banner {
    height: 400px;
    background-image: url(../images/lukasz-szmigiel-jFCViYFYcus-unsplash.jpg);
    border-right: 5px solid darkgreen; 
    border-left: 5px solid darkgreen;
    border-bottom: 5px solid darkgreen;
}

